<div class="row" style="margin: auto">
  <div class="col-sm-8 col-sm-offset-2" style="padding: auto; margin: auto">
    <form
      (ngSubmit)="orderForm.valid && onSubmit()"
      [formGroup]="orderForm"
      #myForm="ngForm"
    >
      <div>
        Form submitted ? {{ myForm.submitted }} Form valid ?
        {{ myForm.valid }} Form invalid ? {{ myForm.valid }}
      </div>
      <div class="form-group">
        <label for="title-order">Titre</label>
        <input
          class="form-control"
          name="title-order"
          type="text"
          formControlName="title"
        />
        <div *ngIf="orderForm.controls.title.errors">
          <span *ngIf="orderForm.controls.title.errors.required"
            >Le titre est requis</span
          >
          <span *ngIf="orderForm.controls.title.errors.min"
            >La longueur maximale doit être supérieure à 5</span
          >
          <span *ngIf="orderForm.controls.title.errors.max"
            >La longueur maximale doit être inférieure à 30</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="quantity-order">Quantité</label>
        <input
          class="form-control"
          name="quantity-order"
          type="number"
          formControlName="quantity"
        />
        <div *ngIf="orderForm.controls.quantity.errors">
          <span *ngIf="orderForm.controls.quantity.errors.required"
            >Le champ quantité est requis</span
          >
          <span *ngIf="orderForm.controls.quantity.errors.max"
            >La quantité maximal doit être inférieur à 5</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="date-order">Date de commande</label>
        <input
          class="form-control"
          name="date-order"
          type="date"
          formControlName="date"
        />
        <div *ngIf="orderForm.controls.date.errors">
          <span *ngIf="orderForm.controls.date.errors.required"
            >Le champ date est requis</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="contact-order">Contact</label>
        <input
          class="form-control"
          name="contact-order"
          type="email"
          formControlName="contact"
        />
        <div *ngIf="orderForm.controls.contact.errors">
          <span *ngIf="orderForm.controls.contact.errors.required"
            >Le champ email est requis</span
          >
          <span *ngIf="orderForm.controls.contact.errors.email"
            >L'adresse email doit être valide</span
          >
        </div>
      </div>
      <button type="reset" class="btn btn-link">Restaurer</button>
      <button type="submit" class="btn btn-primary">Sauvegarder</button>
      <div formArrayName="payments">
        <b>Payments : </b>
        <button class="btn btn-link" type="button" (click)="addPayments()">
          Ajouter date paiement
        </button>
        <div
          class="form-group"
          [formGroupName]="i"
          *ngFor="let payment of payments.controls; let i = index"
        >
          <label for="date-{{ i }}">Date :</label>
          <input
            class="form-control"
            name="date-{{ i }}"
            type="date"
            formControlName="date"
          />
          <div *ngIf="payments.controls[i].controls.date.errors">
            <span *ngIf="payments.controls[i].controls.date.errors.required"
              >Le champ est requis</span
            >
            <span *ngIf="payments.controls[i].controls.date.errors.min"
              >La date doit être supérieure à aujourd'hui</span
            >
          </div>
          <label for="amount-{{ i }}">Amount :</label>
          <input
            class="form-control"
            name="amount-{{ i }}"
            type="text"
            formControlName="amount"
          />
          <div *ngIf="payments.controls[i].controls.amount.errors">
            <span *ngIf="payments.controls[i].controls.amount.errors.required"
              >Le champ montant est requis</span
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
